body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #0A4C70;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    
}

.sidebar-header {
    text-align: center; 
    padding: 0 20px; 
    margin-top: 0;
}

.sidebar-header img {
    max-width: 100%;
    height: auto;
}

.profile {
    text-align: center;
    margin: 15px 0 25px 0;
}

.profile h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.profile p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}

.menu {
    margin-left: 20px;
    margin-right: 20px;
}

.menu a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.menu a:hover,
.menu a.active {
    background: #fff;
    color: #0A4C70;
    font-weight: bold;
}

.menu a i {
    margin-right: 10px;
}

.logout {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0 20px 40px 20px;
}

.logout button {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.logout button:hover,
.logout button:active {
    background: #fff;
    color: #0A4C70;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
}

.logout button i {
    margin-right: 10px;
}

.content {
    margin-left: 300px;
    padding: 20px;
    width: calc(100% - 300px);
}
